<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">

    <div class="container-fluid">
    <div class="col-md-2">
      <a class="navbar-brand logo">GoDigit</a>
    </div>

    

      <div class="collapse navbar-collapse " id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle mx-3" aria-current="page" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Products</a>
            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                <li><a class="dropdown-item" >Action</a></li>
                <li><a class="dropdown-item" >Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" >Something else here</a></li>
              </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle mx-3" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Claims</a>
            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                <li><a class="dropdown-item" >Action</a></li>
                <li><a class="dropdown-item" >Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" >Something else here</a></li>
              </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle mx-3"  id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Renewals
            </a>
            
            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
              <li><a class="dropdown-item" >Action</a></li>
              <li><a class="dropdown-item" >Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" >Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link"  tabindex="-1" aria-disabled="true">Become Digit POSP</a>
          </li>
        </ul>

    

    
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    
      </div>
    </div>
  </nav>


  <p>Do the Insurance</p> <br>
  <p>Trusted by 4 Billion</p>

 

<nav class="navbar navbar-expand-lg navbar-light bd-light shadow"> 
    <div class="container-fluid"> 
           
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav w-100 d-flex justify-content-center ">
      <li class="nav-item mx-5">
        <a class="nav-link d-flex flex-column">
            <img src="https://e7.pngegg.com/pngimages/763/601/png-clipart-car-vehicle-insurance-air-marine-insurance-agency-car-orange-car-thumbnail.png"  alt="" width="60" height="60">
            <span class="px-3">Cars</span>
        </a>
      </li>  
      <li class="nav-item mx-5">
        <a class="nav-link">
            <img src="" alt="">
            <span>Bike</span>
        </a>
      </li>  
      <li class="nav-item mx-5">
        <a class="nav-link">
            <img src="" alt="">
            <span>Health</span>
        </a>
      </li>  
      <li class="nav-item mx-5">
        <a class="nav-link">
            <img src="" alt="">
            <span>Commercial</span>
        </a>
      </li>  
      <li class="nav-item mx-5">
        <a class="nav-link">
            <img src="" alt="">
            <span>Travel</span>
        </a>
      </li>  
      <li class="nav-item mx-5">
        <a class="nav-link">
            <img src="" alt="">
            <span>Renewals</span>
        </a>
      </li>  
      <!-- <li>
       <img src="https://www.maxlifeinsurance.com/static-page/assets/homepage/banner1_desktop_rohit_68c900b630.webp" alt=""> 
      </li> -->
    </ul>
  </div>
</div>
</nav>