<br><br>
<div class="container justify-content-center">

<div class="container row align-items-center "> 
    <div class="col-md-3 border rounded-3 shadow-lg">
        <h4>Comprehensive Cover</h4>
 <h3>₹1,705 /month</h3>
<h5 class="text-muted">Covers own damage for 1 year & damage to others for 3 years</h5>



       
    </div>&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
    <br>
    <div class="col-md-3 border rounded-3 shadow-lg">
       <h4>Third Party Cover</h4> Third Party Cover
 <h3>₹887 /month</h3>
<h5>Covers only damage to others for 3 years</h5>
    </div>
</div>
<br><br><br>
<div class="container  ">
    <div class="col-md-6 border rounded-3 shadow-lg">
        <label for="customRange2" class="form-label">Example range</label>
<input type="range" class="form-range" min="0" max="5" id="customRange2">
    </div>
</div>
<br><br><br>
<div class="container  ">
    <div class="col-md-6 border rounded-3 shadow-lg">
        <div _ngcontent-gke-c105="" class="desktop-idv-content mb-24 ng-tns-c105-49 ng-star-inserted">
            <!-- <app-motor-idv _ngcontent-gke-c105="" class="ng-tns-c105-49" _nghost-gke-c87=""> -->
                <div _ngcontent-gke-c87="" class="motor-idv-content"><div _ngcontent-gke-c87="" class="motor-idv-slider-header">
                    <p _ngcontent-gke-c87="" class="motor-idv-title" style="font-weight: 700;"> IDV (Insured Value) </p>
                    <div _ngcontent-gke-c87="" class="idv-amount flex"><span _ngcontent-gke-c87="" class="currency-symbol">₹</span>
                        <input _ngcontent-gke-c87="" type="number" required="" name="field" oninput="this.value=this.value.slice(0,this.dataset.maxlength)" data-maxlength="8" min="633000" max="855000" class="ng-untouched ng-pristine ng-valid">
                    </div>
                </div>
                <div _ngcontent-gke-c87="" class="idv-recommendation-text idv-text ng-star-inserted"> 80% of the users select IDV between ₹ 7,44,000 to ₹ 8,55,000 </div>
                <!---->
                <div _ngcontent-gke-c87="" class="motor-idv-slider ng-star-inserted">
                    <div _ngcontent-gke-c87="" class="idv-slider-container">
                        <!-- <p-slider _ngcontent-gke-c87="" class="p-element ng-untouched ng-valid ng-dirty"> -->
                            <div class="p-slider p-component p-slider-horizontal"><!----><!----><!----><span class="p-slider-range ng-star-inserted" style="width: 4.05405%;">
                            </span>
                            <!---->
                            <span class="p-slider-handle ng-star-inserted" tabindex="0" aria-valuemin="633000" aria-valuenow="642000" aria-valuemax="855000" style="left: 4.05405%;">
                            </span>
                            <!----><!----><!---->
                        </div>
                    <!-- </p-slider> -->
                </div>
            </div>
            <!---->
            <div _ngcontent-gke-c87="" class="min-max-section ng-star-inserted">
                <div _ngcontent-gke-c87="" class="min-max-price">
                    <p _ngcontent-gke-c87=""> ₹ 6,33,000 </p>
                </div>
                <div _ngcontent-gke-c87="" class="min-max-price">
                    <p _ngcontent-gke-c87=""> ₹ 8,55,000 </p>
                </div>
                <!---->
            </div>
            <!---->
        </div>
    <!-- </app-motor-idv> -->
</div>
    </div>
</div>
<br><br><br>
<div class="container  ">
    <div class="col-md-8 border rounded-3 shadow-lg">
        <h1>choose plan 1</h1>
    </div>
</div>

</div>