<br><br>
<div class="container justify-content-center">

<div class="container row align-items-center "> 
    <div class="col-md-3 border rounded-3 shadow-lg">
        <h4>Comprehensive Cover</h4>
 <h3>₹1,705 /month</h3>
<h5 class="text-muted">Covers own damage for 1 year & damage to others for 3 years</h5>



       
    </div>&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
    <br>
    <div class="col-md-3 border rounded-3 shadow-lg">
       <h4>Third Party Cover</h4> Third Party Cover
 <h3>₹887 /month</h3>
<h5>Covers only damage to others for 3 years</h5>
    </div>
</div>
<br><br><br>
<div class="container  ">
    <div class="col-md-6 border rounded-3 shadow-lg">
        <label for="customRange2" class="form-label">Example range</label>
<input type="range" class="form-range" min="0" max="5" id="customRange2">
    </div>
</div>
<br><br><br>
<div class="container  ">
    <div class="col-md-6 border rounded-3 shadow-lg">
        <h1>choose plan 1</h1>
    </div>
</div>
<br><br><br>
<div class="container  ">
    <div class="col-md-8 border rounded-3 shadow-lg">
        <h1>choose plan 1</h1>
    </div>
</div>

</div>